.options-container {
    display: block;
    color: #fd6b6e;
    padding: 15px 2%;
    border-radius: 8px;
    border: 2px solid #fd6b6e;
    background-color: transparent;
    width: -webkit-fill-available;
    justify-content: space-between;
}

input[type=checkbox] {
    width: 13px;
    height: 13px;
    accent-color: #fd6b6e;
}

.header { font-size: 1em }
.color-label {
    font-size: 1em; 
    padding: 0 12px;
    align-items: center;
    display: inline-flex;
}

.filter-btn {
    font-size: 13px;
    padding: 5px 10px; 
    margin-bottom: 10px;
}

.speed-container, .date-picker-container {
    display: block;
    margin-top: 15px;
    width: -webkit-fill-available;
}

.speed-input {
    height: 20px;
    font-size: 1em;
    color: #212133;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: '700';
    border: 2px solid #fd6b6e;
}

.date-picker {
    flex: none;
    height: 20px;
    font-size: 1.4em;
    color: #212133;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: '700';
    border: 2px solid #fd6b6e;
}

.radio-container {
    font-size: 1em;
    padding: 15px 0 0 0;
}

input[type=radio] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    accent-color: #fd6b6e;
}

@media screen and (min-width: 1200px) {
    input[type=checkbox] {
        width: 18px;
        height: 18px;
    }

    .radio-container {
        padding: 0 0 0 10%;
        display: inline-block;
    }

    .color-label, .header, .radio-container {
        font-size: 0.9em
    }

    .filter-btn {
        font-size: 18px
    }

    .speed-input {
        font-size: 0.8em;
    }

    .date-picker {
        font-size: 0.9em;
    }

    .speed-container, .date-picker-container {
        display: flex;
        align-items: center;
    }
}