.color-picker-container {
    display: block;
    margin: 20px 0;
    color: #fd6b6e;
    padding: 15px 2%;
    border-radius: 8px;
    border: 2px solid #fd6b6e;
    background-color: transparent;
    width: -webkit-fill-available;
    justify-content: space-between;
}

input[type=checkbox] {
    width: 13px;
    height: 13px;
    accent-color: #fd6b6e;
}

.header { font-size: 1em }
.color-label {
    font-size: 1em; 
    padding: 0 12px;
    align-items: center;
    display: inline-flex;
}

.filter-btn {
    font-size: 13px;
    padding: 5px 10px; 
}

@media screen and (min-width: 1200px) {
    input[type=checkbox] {
        width: 18px;
        height: 18px;
    }

    .color-label, .header {
        font-size: 0.9em
    }

    .filter-btn {
        font-size: 18px
    }
}