.header-container {
    display: flex;
    position: fixed;
    padding: 20px 5%;
    background-color: #212133;
    justify-content: space-between;
    width: -webkit-fill-available;
    box-shadow: 0 4px 6px rgb(0 0 0 / 25%);
}

.header-btn { padding: 5px 10px; font-size: 15px; }
.left-container { display: flex; align-items: center; }
.right-container { display: inline; }

.header-text {
    font-weight: bolder;
    padding-left: 10px;
    color: aliceblue;
}

@media screen and (min-width: 1200px ) {
    .header-container {
        padding: 20px 17%;
    }

    .header-btn { 
        font-size: 20px; 
    }
}