@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: aliceblue;
  background-color: #212133;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 30px;
  }
}

/* Global Button color code and design */
.btn {
  cursor: pointer;
  color: aliceblue;
  text-align: center;
  padding: 10px 10px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #fd6b6e;
  background-color: #fd6b6e;
}

.btn:hover {
  color: #fd6b6e;
  background-color: aliceblue;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 25px;
  }
}
