.spaceship-card-container {
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    padding: 10px 2%;
    border-radius: 8px;
    background-color: aliceblue;
    box-shadow: 0 4px 6px rgb(0 0 0 / 25%);
}

.about-content { 
    display: flex;
    padding-left: 2%;
    width: -webkit-fill-available;
    justify-content: space-between;
}

.more-info { color: #212133; }